* {
    box-sizing: border-box;
    padding: 0;
}
h1 {
    color: red;
}

body  nav ul li {

    display: inline;
    background-color: lightblue;
    
}

body  nav ul{
    list-style: none;
}

header {
    background-color: aqua;
}

nav {
    background-color: red;
}

footer{
    background-color: green;
}